body {    
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0 auto 70px auto;
    text-align: center;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.container, .container-fluid {
    margin: 70px auto;
}